allure-pytest
allure-python-commons
atomicwrites
attrs
colorama
enum34
future
importlib-metadata
iniconfig
lxml
more-itertools
namedlist
numpy
packaging
pandas
pluggy
py
pyparsing
pytest
python-dateutil
pytz
six
toml
urllib3
waiting
wcwidth
xlrd
zipp
requests